/* Navbar.css */
.navbar {
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 100px;
    background-color: transparent;
    padding: 10px 0;
    position: static;
    bottom: 0;
    width: 100%;
    box-shadow: 0 10px 15px 5px rgba(248, 226, 58, 0.1); /* Add box shadow for the container */
    color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    color: white;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.navbar ul li a:hover {
    color: #ebd952;
}

.navbar button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgb(244, 244, 84); /* Add border color */
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 30px;
    transition: border-color 0.3s;
}

.navbar button:hover {
    border-color: #e1d653;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .navbar {
        margin-right: 20px;
    }
    .navbar ul li {
        margin-right: 10px;
        margin-left: 10px;
    }
    .navbar button {
        right: 10px;
    }
}
